.spsuggest{
    padding-top:40px;
}
.spsuggest div{
    margin:0px;
}
.spsuggest .radiobtn{
    float:left;
    display: block;
    width:20%;
    height:60px;
}
.radiobtn input{
    display: inline-block;
    vertical-align: top;
}