html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

.nav {
  margin: 30px auto;
  width: 204px;
  > li {
    a {
      &.active {
        background-color: #337ab7;
        color: #ffffff;
      }
      background-color: #f5f5f5;
    }
  }
}

h1{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  border-bottom:3px dotted black;
  display:block;
  line-height: 50px;
}
.container{
  padding-bottom:5px;
}